.match_main {
    border-radius: 7px;
    opacity: 1;
}

.match_text p,.match_text span {
    margin:0;
}

@media (max-width: 768px) {

    .match_text p {
        padding-top: 7px;
        width: 100%;
        font-size: 6.5vw;
        font-weight: 600;
        white-space: nowrap;
    }


}

