.parent_partner_attop {
    margin-top: 55px;
}
.partner_main_btn_attop {
    border: 0;
    background-color: rgb(255, 38, 0);
    color: white;
    padding: 3px 15px 3px 15px;
    border-radius: 5px;
}

.partnermatch_attop{
    width: 65%;
    background-color: #02227C;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

.match_see_more_at_top a{
    font-size: 1vw;
    text-decoration: none;
    color: white;
}
