.MV-container {
  width: 1500px;
}
.MV_Pc {
  background-color: rgba(16, 24, 37, 0.7);
  border-radius: 30px;
  opacity: 1;
  padding-top: 1vw;
  padding-bottom: 1.56vw;
  padding: 23px 40px;
 
  .MV-rightSide {
    .MV-header-title {
      display: flex;
    }
    .MV-video-group {
      position: relative;
      .MV-button {
        position: absolute;
        right: calc(50% - 120px);
        top: calc(50% - 10px);
        color: #fc8b00;
        border-radius: 15px;
        font-size: 1vw;
        font-weight: 500;
        padding: 10px 20px;
        border: 2px solid rgb(250, 165, 62);
        background-color: #02227c;
        opacity: 50%;
      }
      .MV-button:hover {
        background-color: rgb(250, 165, 62);
        color: #02227c;
        border: 2px solid #02227c;
        transition: 0.5s ease-in-out;
        transform: scale(1.1);
        opacity: 100%;
      }
    }
  }
}
.MV-header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 10px;

  .MV-header-team {
    display: flex;
    flex: 3;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 50px;
    height: 62px;
    width: 625px;
    .MV-team1 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;

      .MV-team-name {
        font-size: 1vw;
        font-weight: bold;
        color: #02227c;
        text-align: right;
      }
      .MV-team-logo {
        display: flex;
        align-items: center;
        width: 50px;
        img {
          width: 100%;
        }
      }
    }
    .MV-team2 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .MV-team-name {
        font-size: 1vw;
        font-weight: bold;
        color: #02227c;
      }
      .MV-team-logo {
        display: flex;
        align-items: center;
        width: 50px;
        img {
          width: 100%;
        }
      }
    }
  }

  .MV-header-BLV {
    display: flex;
    flex: 1;
    background-color: darkorange;
    border-radius: 50px;
    height: 62px;
    gap: 10px;

    .MV-blv-avatar {
      width: 2vw;
      padding: 5px;
      img {
        height: 100%;
      }
    }

    .MV-blv-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 15px;
      font-weight: 500;
    }

    .MV-blv-items {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      background-color: white;
      color: black;
      padding: 0 5px;
      border-radius: 50px;
      font-size: 0.55vw;
    }
  }
}

@media (max-width: 1499px) and (min-width: 769px) {
  .MV-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .MV_Pc {
    width: 90vw;
  } 

  .match_schedule_Pc {
    width: 16vw !important;
  }
} 
